[submodule "Proyecto_Huffman"]
	path = Proyecto_Huffman
	url = https://github.com/ErickDal448/Proyecto_Huffman
[submodule "Algoritmos_ordenamiento"]
	path = Algoritmos_ordenamiento
	url = https://github.com/ErickDal448/Algoritmos_ordenamiento
[submodule "Kruskal"]
	path = Kruskal
	url = https://github.com/Mulberick/Kruskal
[submodule "Laberinto_del_Tesoro"]
	path = Laberinto_del_Tesoro
	url = https://github.com/Mulberick/Laberinto_del_Tesoro
[submodule "Prim"]
	path = Prim
	url = https://github.com/Mulberick/Prim
[submodule "Metodos_de_busqueda"]
	path = Metodos_de_busqueda
	url = https://github.com/Mulberick/Metodos_de_busqueda_en_grafos
[submodule "Dijkstra"]
	path = Dijkstra
	url = https://github.com/Mulberick/Dijkstra
[submodule "Fibonacci"]
	path = Fibonacci
	url = https://github.com/Mulberick/Fibonacci
[submodule "Grep"]
	path = Grep
	url = https://github.com/Mulberick/Grep.git
[submodule "Knapsack"]
	path = Knapsack
	url = https://github.com/Mulberick/Knapsack
[submodule "LCSS"]
	path = LCSS
	url = https://github.com/Mulberick/Longest_common_subsequence
[submodule "StringMatching"]
	path = StringMatching
	url = https://github.com/Mulberick/String_Matching
